.form_wrapper{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  column-gap: 2rem;
  align-self: center;
  padding: 3rem 2rem;
  input {
    flex-grow: 1;
    border-radius: 1.6rem;
    padding: 1rem;
    border: none;
    color-scheme: dark;
  }
  select {
    border-radius: 1.6rem;
    padding: 1rem;
    border: none;
    color-scheme: dark;
  }
}

.item_wrapper{
  padding: 5rem 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}